.dashboard {
    .dashboard__addNew {
        padding: 10px 0;
        .dashboard__addNew__btn {
            height: 100%;          
        }
    }
    .search-text {
        padding: 3px;
        height: 30px;
    }
}