<div class="selected-event">
    <h3>{{selectedEvenInfo.name}}</h3>
    <div class="selected-event__info">
        <span><strong>Department:</strong> {{selectedEvenInfo.department}}</span><br>
        <span><strong>Description:</strong> {{selectedEvenInfo.description}}</span><br>
        <span><strong>Duration:</strong> {{selectedEvenInfo.duration}}Hr</span><br>
        <span><strong>Date & Time:</strong> {{selectedEvenInfo.date}}</span><br>
        <span><strong>Meeting Room:</strong>{{selectedEvenInfo.meetingRoom}}</span><br>
    </div>
</div>